# tuple

In [1]:
a = (1,2,3,4)
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [2]:
b = 1, 3, 5, 7
print(b)
print(type(b))

(1, 3, 5, 7)
<class 'tuple'>

In [3]:
for val in a:
    print(val)

1
2
3
4

In [5]:
al = list(a)
print(al)

[1, 2, 3, 4]

In [6]:
val = [2,3,12,312,31,32,123,]
print(val)
valt = tuple(val)
print(valt)

[2, 3, 12, 312, 31, 32, 123]
(2, 3, 12, 312, 31, 32, 123)

# set

In [7]:
s1 = {1,2,3,4,5,6,7,8,9,10,1,1}
print(s1)
print(type(s1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

In [13]:
print(s1)
sl = list(s1)        # set to list
print(sl)
st = tuple(s1)       # set to tuple
print(st)
a = set([1,2,3,3,3,1,1]) # list to set
print(a)
b = set((2,1,2,2,3,4,4,5)) # tuple to set
print(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
{1, 2, 3}
{1, 2, 3, 4, 5}

# dictionary

In [14]:
report = {
    'student 1': {
        'name': 'John',
        'marks': {
            'math': 80,
            'science': 90,
            'history': 70,
            'english': 60,
            'evs':90

        }
    },
    'student 2': {
        'name': 'Mary',
        'marks': {
            'math': 70,
            'science': 80,
            'history': 60,
            'english': 50,
            'evs':80
        }
    },
}

In [15]:
report

{'student 1': {'name': 'John',
  'marks': {'math': 80,
   'science': 90,
   'history': 70,
   'english': 60,
   'evs': 90}},
 'student 2': {'name': 'Mary',
  'marks': {'math': 70,
   'science': 80,
   'history': 60,
   'english': 50,
   'evs': 80}}}

In [16]:
print(report['student 1'])

{'name': 'John', 'marks': {'math': 80, 'science': 90, 'history': 70, 'english': 60, 'evs': 90}}

In [19]:
print(report['student 1']['name'])
print(report['student 1']['marks'])
print(report['student 1']['marks']['history'])

John
{'math': 80, 'science': 90, 'history': 70, 'english': 60, 'evs': 90}
70

In [24]:
# loop for dictionary
for k,v in report.items():
    print(k,v)

student 1 {'name': 'John', 'marks': {'math': 80, 'science': 90, 'history': 70, 'english': 60, 'evs': 90}}
student 2 {'name': 'Mary', 'marks': {'math': 70, 'science': 80, 'history': 60, 'english': 50, 'evs': 80}}

In [31]:
# nested loop for dictionary
for k, v in report.items():
    print("student:", k)
    if isinstance(v,dict):
        for k1, v1 in v.items():
            if isinstance(v1,dict):
                for sub,marks in v1.items():
                    print(sub,marks)
            else:
                print(v1)
    else:
        print(v)

student: student 1
John
math 80
science 90
history 70
english 60
evs 90
student: student 2
Mary
math 70
science 80
history 60
english 50
evs 80